/* 手機版樣式 xs */
.my-dynamic-swiper {
  height: 300px;
  width: 100%;
  max-width: 320px;
  margin: 2rem auto
}

/* 平板版樣式 sm */
@media (min-width: 600px) {
  .my-dynamic-swiper {
    max-width: 540px;
    /* 在平板上，最大寬度為 600px */
  }
}

/* 桌面版樣式 md */
@media (min-width: 900px) {
  .my-dynamic-swiper {
    max-width: 800px;
  }
}

/* =========================== */

.image-cover {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 16px;
}

/* 手機版樣式 xs */
.my-product-swiper {
  height: 300px;
  width: 100%;
  max-width: 320px;
  margin: 1rem auto;
}

/* 平板版樣式 sm */
@media (min-width: 600px) {
  .my-product-swiper {
    max-width: 540px;
    /* 在平板上，最大寬度為 600px */
  }
}

/* 筆電樣式 md */
@media (min-width: 900px) {
  .my-product-swiper {
    max-width: 820px;
    margin: 2rem auto;
  }
}

/* 桌面版樣式 md */
@media (min-width: 1200px) {
  .my-product-swiper {
   height: 400px;
   max-width: 1000px;
  }
}